.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("/src/assets/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/** Box 2 **/

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-sec {
    font-size: 1rem;
    margin-left: 3px;


}

.add-icon {
    display: flex;
    align-items: center
}

/** BOX 3 **/

.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 584px;
    height: 40px;
    border-radius: 5px;
}

.search-select {
    background-color: #d7d6d6;
    width: 5px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input {
    width: 500px;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(248, 166, 3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
    margin-left: 0px;
}

.nav-search:hover {
    border: 2px solid orange
}

/** Box 4 **/

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
}

/** Box 5 **/

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/** panel **/

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all{
    width: 2px;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

