.box-content p {
    color: rgb(0 0 0);
}

div i {
    color: rgb(255, 196, 0);
}

.box-content button{
    background-color: rgb(255, 196, 0); /* Green */
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-top: -10px;
}

.product_rating{
    display: flex;
}